
body{
    background-image: url('project images/barber-shop-vs-hair-salon.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    width: 100%;
    background-size: 100% 92%;
    height:1000px;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 300;
    color: gray;

    

}

img#pic{
    
}

.level{
    font-size: 40px;
    font-family: 'Cookie', cursive;
    color: #ffc107;
    display: flex;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    line-height: inherit;
    white-space: nowrap;
    background-color: transparent;
    margin-left: -600px;
    
}

.na{
    display: flex;
}


.navbar{
    padding-left: 800px;
    margin-top: ;
    color: white;
    display: flex;
    background: #131416;
    position: static;
}

.o{
    padding: 25px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    opacity: 1;
    background-color: transparent;
    letter-spacing: 1px;

}
.a{
    padding: 25px;
    color: white;
    font-size: 17px;
    opacity: 1;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
}

.b{
    padding: 25px;
    color: white;
    font-size: 17px;
    opacity: 1;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
}
.c{
    padding: 25px;
    color: white;
    font-size: 17px;
    opacity: 2;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
}
.d{
    padding: 25px;
    color: white;
    font-size: 17px;
    opacity: 1;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
}
.f{
    padding: 25px;
    color: white;
    font-size: 17px;
    opacity: 1;
    background-color: transparent;
    text-decoration: none;
    letter-spacing: 1px;
}
a:hover{
    color: #ce9c6b;
}


.p{
    font-family: 'Cookie', cursive;
font-family: 'Poppins', sans-serif;
padding-left: 220px;
font-size: 25px;
margin-top: 5%;
}

.opeyemil{
    text-decoration: solid;
    color: white;
}
.h1{
    font-size: 40px;
    color: #fff;
    line-height: 1.2;
    font-weight: 700px;
    padding-left: 100px;
    margin-top: 10px;
}


.l{
    margin-top: 2.5%;
}

a.btn{
    border: 10px solid #ce9c6b;
    background: #ce9c6b;
    font-weight: 400;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 20px;
    color: white;
    text-decoration: underline;
    font-size: 20px;
    margin-left: 170px;
    margin-top: 70%;    
}

.big-container{
    width: 90%;
    background: black;
    flex-direction: row;
    flex-flow: row;
}

.flex-container{
    display: flex;
  background: black;
  width: 60%;
  flex-direction: row;
  border-radius:10px ;
  margin-top: 12%;
  flex-direction: row;
  
}

.to-pad{
    padding-left: 1px;
}

.icon{
    margin-left: 120px;
}



.text{
    line-height: 1.4;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-top: -27px;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ext{
    line-height: 1.4;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-top: -27px;
    margin-left: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}
.another-icon{
    margin-left: 150px;

}

.time{
    line-height: 1.4;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    margin-top: -27px;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.yellow-flex{
    display: flex;
    color: #ce9c6b;
    padding: 2%;
    background: #ffc107; 
    margin-left: 60%;
}

.instagram{
    margin-left: 15%;
}

.facebook{
    margin-left: 15%;
}

.reddit{
    margin-left: 15%;

}

.another-section{
    position: relative;
    background: #1b1b1b;
    padding: 200px;
}

.div{
    text-align: center;
    margin-top: -100px;
}
.h{
    font-style: normal;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    letter-spacing: 2px;
    line-height: 1.4;
}
span{
    color: #ffc107;
    font-family: 'Cookie', cursive;
}

.lorem{
    
    font-family: fantasy;


}
/*
hr{
    width: 30%;
    justify-content: center;
    color: grey;
}
*/

/* this is the our services sectio styling*/

.our-services{
    background: black;
    padding: 200px;
    justify-content: center;

}
.service{
    text-align: center;
    margin-top: -200px;
    justify-content: center;

}

.serve-container{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    background: black;
    flex-direction: row;
    padding: 10px;
    width: 100%;

}

.flex1{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.icon-container{
    display: flex;
    margin-left: 150px;
}

.flex1h{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: white;
}


/*
p.flex1h{
    font-size: 10px;
}
*/

.flex2{
    display: flex;
    flex-direction: column;
}

.ico-container{
    display: flex;
    margin-left: 150px;
}

.flex2h{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
    color: white;
    
    
}



p.flex2h{
    font-size: medium;
}

.flex3{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
}

.ic-container{
    display: flex;
    margin-left: 150px;

}
.flex3h{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bolder;
    color: white;
    margin-left: 15px;
    

}
*/

p.flex3h{
    font-size: medium;
    margin-left: 15px;
    
}

.flex4{
    display: flex;
    flex-direction: column;
    
}


.what-we-do{
    background:#131416; 
    padding: 100px;
}

.image-class{
    background-color: #ffc107;
    padding: 200px;
}

.ll{
    max-width: fit-content;
}

.images-flex{
    display: flex;
    background: green;
    width: 100%;
    
    
}

.fimage{
    display: flex;
    background: green;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;

}

.planspricing{
    background: #131416;
    padding: 200px;
    
}


.textflex-container{
    display: flex;
    flex-direction: row ;
    background: #131416;
    
}

.first-con{
    display: flex;
    background: #131416;
    flex-direction: row;
    margin-left: 50px;
}

.h22{
    display: flex;
    flex-direction: column;
}

.firstsmallcon{
    display: flex;
    padding: 20px;
}

.ppp{
    display: flex;
    flex-direction: column;
    background:  #131416;
    margin-top: -25px;
}


.second-con{
    display: flex;
    flex-direction: row;
    background: red;
    margin-left: 50px;
    margin-top: 25px;

}


h2{
    line-height: 1.15;
    font-weight: bold;
    font-family: 'Cookie', cursive;
font-family: 'Poppins', sans-serif;
color: white;

}

span{
    color: #ce9c6b;
}

.service-discount{
    padding: 200px;
    background:  url("");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    width: auto;
    background-size: auto;
    height:auto;
    font-family: "Poppins",Arial,sans-serif;
    font-weight: 300;
    color: gray;

}

.discounth4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -100px;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top: 10px;
}

.discounth3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ce9c6b;
    text-align: center;
    font-size: 40px;
    margin-top: -20px;
}

.discountp{
    font-family: cursive;
    text-align: center;

}

.app{
    margin-top: 50px;
}

.app :hover{
    background-color: #131416 ;
    border: 1px solid ;


}


.appointment{
    border: 10px solid #ce9c6b;
background: #ce9c6b;
font-weight: 400;
text-align: center;
line-height: 1.5;
border-radius: 20px;
color: black;
text-decoration: none;
font-size: 20px;
margin-left: 550px;
cursor: pointer;
margin-top: 80px;
}

.appointment :hover{
    background-color: aqua;
    border: 1px solid #fff;
}


.hairstylist{
    padding: 100px;
    background: #1b1b1b;
}


.haircontainer{
    display: flex;
    background: ;
    width: 70%;
    flex-direction: row;
    height: ;
    margin-left: 150px;
    
    
}

.subcon{
    display: flex;
    background: #1b1b1b;
    border: 1px solid #ce9c6b;
    border-radius: 4px;
    flex-direction: column;
}

.secondsubcon{
    display: flex;
    background: #1b1b1b;
    border: 1px solid #ce9c6b;
    margin-left: 50px;
    border-radius: 4px;
   flex-direction: column;

}

.thirdsubcon{
    display: flex;
    background: #1b1b1b;
    border: 1px solid #ce9c6b;
    padding-right: ;
    margin-left: 30px;
    border-radius: 4px;
   flex-direction: column;

}

.fourthsubcon{
    display: flex;
    background: #1b1b1b;
    border: 1px solid #ce9c6b;
    margin-left: 30px;
    border-radius: 4px;
  flex-direction: column;
}

.hhhh{
    display: flex;
    color: #ce9c6b;
    background: #1b1b1b;
    margin-top: 70px;
    margin-left: 10%;
}


.href{
    color: #ce9c6b;
    cursor: pointer;
    text-decoration: none;
}

.ppp{
    display: flex;
    color: white;
    background: #1b1b1b;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

.hhh{
    display: flex;
    color: #ce9c6b;
    background: #1b1b1b;
    margin-top: 70px;
    margin-left: 10%;
    justify-content: center;

}

.imgg{
    display: flex;
    background: ;
    margin-top: 10% ;
    padding-top: 40px;
    width: 50%;
    margin-left: 50px;
    padding-top: ;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: ;
    padding: 10px;
    background: ;
    justify-content: center;
    
    
}


.h55{
    display: flex;
    color: white;
    text-align: center;
    margin-top: -10px ;
    justify-content: center;
}

.imf{
    width: 70%;
    height: auto;
    margin-left: ;
    border-radius: 30%;
}

.shafii{
    width: 70%;
    height: auto;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */ OUR SHO /*///////////////////// */

    





.divi{
    text-align: center;
    margin-top: -100px;
}
.hh{
    font-style: normal;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    letter-spacing: 2px;
    line-height: 1.4;
    text-align: center;
    margin-top: -120px;
}
.ourshop{
    background: #131416;
    padding: 200px;
}

.shopflex{
    display: flex;
    flex-direction: row;
    background: ;
}

.row{
    display: flex;
    background: ;
    flex-direction: column;
    justify-content: center;
}


.iii{
    display: flex;
    background: ;
    border: 1px solid #ffc107;
    justify-content: center;
    flex-direction: column;
    padding: ;
    margin-left: 20px;


}

.iiio{
    display: flex;
    background: ;
    border: 1px solid #ffc107;
    justify-content: center;
    flex-direction: column;
    padding: 120px;


}

.star{

    flex-direction: row;
    background:  ;
    padding-right: ;
    text-align: center;
    margin-top: ;
}


.opop{
    display: flex;
    flex-direction: column;
    background: ;
    justify-content: center;
    padding: 30px;
    margin-top: ;
    margin-left: 50px;
    margin-right: 50px;
    justify-content: center;
    text-align: center;

}

.brudda{
    display: flex;
    background: ;
    text-align: center;
    justify-content: center;
    margin-top:-15% ;
    flex-direction: row;
    flex-shrink: 700px;

}

.haha{
    display: flex;
    background: ;
    justify-content: center;
    text-align: center;
    margin-top: -30%;
}

.appoint{
border: 1px solid #ce9c6b;
background: #ce9c6b;
font-weight: 400;
font-size: 13px;
border-radius: 30px;
text-align: center;
line-height: 1.5;
border-radius: 20px;
color: white;
text-decoration: none;
font-size: 20px;
cursor: pointer;

}

.appoint:hover{
    border: 1px solid green;
    background: black ;
    border-radius: 30px;
}

.tueh{
    display: flex;
background: yellow ;
justify-content: center;
flex-direction: column;
    
}


.imr{
    width: 10%;
height: auto;
margin-left: ;
border-radius: 30%;
}




/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// foooter styling ///////////////////////////////////////////////////////////////////////////////////////////*/

.footer{
    background: hsl(0, 0%, 11%);
    padding: 100px;
}



.footercontainer{
    display: flex;
    flex-direction: row;
    background-color: ;
    margin-top: -4em;
    

}

.footercontainer div{
    display: flex;
    background: ;
    border: ;
    flex-direction: column;
    margin: 1em;
    

}


.foricon{
    display: flex;
    flex-direction: row;
    letter-spacing: 2em;
    
}


.opeyem{
    color: white;
}


h3{
    color: white;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    color: white;
    font-weight: lighter;
}

.llk{
    display: flex;
    justify-content: center;
}

































































